* {
    box-sizing: border-box;
  }
  
  body {
    font-size: 14px;
    margin: -3px;
  }
  
  .v1_2 {
    width: 100%;
    height: 1349px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  
  .v1_3 {
    width: 191px;
    height: 191px;
    background: rgba(234, 251, 40, 1);
    opacity: 1;
    position: absolute;
    top: 184px;
    left: 543px;
    border-radius: 50%;
  }
  
  .v1_4 {
    width: 191px;
    height: 191px;
    background: rgba(102, 245, 99, 1);
    opacity: 1;
    position: absolute;
    top: 321px;
    left: 598px;
    border-radius: 50%;
  }
  
  .v1_5 {
    width: 191px;
    height: 191px;
    background: rgba(144, 175, 255, 1);
    opacity: 1;
    position: absolute;
    top: 474px;
    left: 638px;
    border-radius: 50%;
  }
  
  .v1_6 {
    width: 191px;
    height: 191px;
    background: rgba(246, 137, 222, 1);
    opacity: 1;
    position: absolute;
    top: 444px;
    left: 484px;
    border-radius: 50%;
  }
  
  .v1_7 {
    width: 191px;
    height: 191px;
    background: rgba(255, 120, 120, 1);
    opacity: 1;
    position: absolute;
    top: 186px;
    left: 436px;
    border-radius: 50%;
  }
  
  .v1_8 {
    width: 141px;
    height: 141px;
    background: rgba(182, 241, 255, 1);
    opacity: 1;
    position: absolute;
    top: 347px;
    left: 350px;
    border-radius: 50%;
  }
  
  .v1_9 {
    width: 100%;
    height: 988px;
    background: url("../images/v1_9.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 102px;
    overflow: hidden;
  }
  
  .v1_10 {
    width: 100%;
    height: 988px;
    background: rgba(255, 255, 255, 0.699999988079071);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  
  .v1_11 {
    width: 748px;
    height: 201px;
    background: url("../images/v1_11.png");
    opacity: 1;
    position: absolute;
    top: 86px;
    left: 630px;
    border: 3px solid rgba(255, 255, 255, 1);
  }
  
  .v1_12 {
    width: 642px;
    height: 214px;
    background: url("../images/v1_12.png");
    opacity: 1;
    position: absolute;
    top: 104px;
    left: 628px;
    border: 3px solid rgba(255, 255, 255, 1);
  }
  
  .v1_13 {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 199px;
    left: 478px;
    border-radius: 50%;
  }
  
  .v1_14 {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 306px;
    left: 473px;
    border-radius: 50%;
  }
  
  .v1_15 {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 212px;
    left: 289px;
    border-radius: 50%;
  }
  
  .v1_16 {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 109px;
    left: 155px;
    border-radius: 50%;
  }
  
  .v1_17 {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 184px;
    left: 135px;
    border-radius: 50%;
  }
  
  .v1_18 {
    width: 229px;
    height: 104px;
    background: url("../images/v1_18.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 36px;
    left: 985px;
    overflow: hidden;
  }
  
  .v1_19 {
    width: 100%;
    height: 28px;
    background: linear-gradient(rgba(255, 153, 51, 1), rgba(255, 255, 255, 1));
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  
  .v1_20 {
    width: 715px;
    height: 74px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 27px;
    left: 244px;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  
  .v1_21 {
    width: 581px;
    height: 64px;
    background: url("../images/v1_21.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px 0px;
    margin: 10px;
    opacity: 1;
    position: absolute;
    top: 38px;
    left: 292px;
    overflow: hidden;
  }
  
  .v1_22 {
    width: 91px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 20px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_23 {
    width: 142px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 20px;
    left: 93px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_24 {
    width: 208px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 20px;
    left: 256px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_25 {
    width: 106px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 20px;
    left: 474px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_26 {
    width: 221px;
    height: 114px;
    background: rgba(22, 1, 106, 1);
    opacity: 1;
    position: absolute;
    top: 478px;
    left: 25px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  
  .v1_27 {
    width: 30px;
    height: 30px;
    background: url("../images/v1_27.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.8999999761581421;
    position: absolute;
    top: 547px;
    left: 198px;
    overflow: hidden;
  }
  
  .v1_28 {
    width: 226px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 494px;
    left: 30px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 24px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_29 {
    width: 960px;
    height: 431px;
    background: url("../images/v1_29.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 266px;
    left: 310px;
    overflow: hidden;
  }
  
  .v1_30 {
    width: 957px;
    height: 282px;
    background: url("../images/v1_30.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 64px;
    left: 0px;
    overflow: hidden;
  }
  
  .v1_31 {
    width: 286px;
    height: 39px;
    background: rgba(241, 241, 241, 1);
    padding: 8px 8px;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 1px;
    overflow: hidden;
  }
  
  .v1_32 {
    width: 91px;
    color: rgba(22, 1, 106, 1);
    position: absolute;
    top: 8px;
    left: 8px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_33 {
    width: 190px;
    height: 39px;
    background: rgba(241, 241, 241, 1);
    padding: 8px 8px;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 287px;
    overflow: hidden;
  }
  
  .v1_34 {
    width: 101px;
    color: rgba(22, 1, 106, 1);
    position: absolute;
    top: 8px;
    left: 8px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_35 {
    width: 238px;
    height: 39px;
    background: rgba(241, 241, 241, 1);
    padding: 8px 8px;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 180px;
    overflow: hidden;
  }
  
  .v1_36 {
    width: 96px;
    color: rgba(22, 1, 106, 1);
    position: absolute;
    top: 8px;
    left: 9px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_37 {
    width: 238px;
    height: 39px;
    background: rgba(241, 241, 241, 1);
    padding: 8px 8px;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 59px;
    overflow: hidden;
  }
  
  .v1_38 {
    width: 130px;
    color: rgba(22, 1, 106, 1);
    position: absolute;
    top: 8px;
    left: 9px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_39 {
    width: 958px;
    height: 182px;
    background: url("../images/v1_39.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 39px;
    left: 0px;
    overflow: hidden;
  }
  
  .v1_40 {
    width: 285px;
    height: 52px;
    background: rgba(250, 250, 250, 1);
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 6px;
    overflow: hidden;
  }
  
  .v1_41 {
    width: 190px;
    height: 52px;
    background: rgba(250, 250, 250, 1);
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 292px;
    overflow: hidden;
  }
  
  .v1_42 {
    width: 238px;
    height: 52px;
    background: rgba(250, 250, 250, 1);
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 177px;
    overflow: hidden;
  }
  
  .v1_43 {
    width: 238px;
    height: 52px;
    background: rgba(250, 250, 250, 1);
    opacity: 1;
    position: absolute;
    top: 40px;
    left: 61px;
    overflow: hidden;
  }
  
  .v1_44 {
    width: 285px;
    height: 73px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 6px;
    overflow: hidden;
  }
  
  .v1_45 {
    width: 205px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 21px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_46 {
    width: 244px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 0px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_47 {
    width: 229px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 20px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_48 {
    width: 189px;
    height: 73px;
    background: rgba(255, 255, 255, 1);
    padding: 6px 5px;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 292px;
    overflow: hidden;
  }
  
  .v1_49 {
    width: 137px;
    color: rgba(37, 37, 37, 1);
    position: absolute;
    top: 6px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_50 {
    width: 237px;
    height: 73px;
    background: rgba(255, 255, 255, 1);
    padding: 6px 5px;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 176px;
    overflow: hidden;
  }
  
  .v1_51 {
    width: 173px;
    color: rgba(37, 37, 37, 1);
    position: absolute;
    top: 6px;
    left: 6px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_52 {
    width: 238px;
    height: 73px;
    background: rgba(255, 255, 255, 1);
    padding: 6px 5px;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 61px;
    overflow: hidden;
  }
  
  .v1_53 {
    width: 174px;
    color: rgba(37, 37, 37, 1);
    position: absolute;
    top: 6px;
    left: 6px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_54 {
    width: 285px;
    height: 52px;
    background: rgba(250, 250, 250, 1);
    opacity: 1;
    position: absolute;
    top: 86px;
    left: 6px;
    overflow: hidden;
  }
  
  .v1_55 {
    width: 266px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 21px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_56 {
    width: 212px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 1px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_57 {
    width: 190px;
    height: 52px;
    background: rgba(250, 250, 250, 1);
    opacity: 1;
    position: absolute;
    top: 86px;
    left: 292px;
    overflow: hidden;
  }
  
  .v1_58 {
    width: 142px;
    color: rgba(37, 37, 37, 1);
    position: absolute;
    top: 4px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_59 {
    width: 238px;
    height: 52px;
    background: rgba(250, 250, 250, 1);
    opacity: 1;
    position: absolute;
    top: 86px;
    left: 177px;
    overflow: hidden;
  }
  
  .v1_60 {
    width: 182px;
    color: rgba(37, 37, 37, 1);
    position: absolute;
    top: 4px;
    left: 6px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_61 {
    width: 238px;
    height: 52px;
    background: rgba(250, 250, 250, 1);
    opacity: 1;
    position: absolute;
    top: 86px;
    left: 61px;
    overflow: hidden;
  }
  
  .v1_62 {
    width: 182px;
    color: rgba(37, 37, 37, 1);
    position: absolute;
    top: 4px;
    left: 6px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_63 {
    width: 285px;
    height: 52px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 138px;
    left: 6px;
    overflow: hidden;
  }
  
  .v1_64 {
    width: 272px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 21px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_65 {
    width: 210px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 0px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_66 {
    width: 190px;
    height: 52px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 138px;
    left: 292px;
    overflow: hidden;
  }
  
  .v1_67 {
    width: 94px;
    color: rgba(37, 37, 37, 1);
    position: absolute;
    top: 14px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_68 {
    width: 131px;
    color: rgba(37, 37, 37, 1);
    position: absolute;
    top: 6px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_69 {
    width: 238px;
    height: 52px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 138px;
    left: 177px;
    overflow: hidden;
  }
  
  .v1_70 {
    width: 182px;
    color: rgba(37, 37, 37, 1);
    position: absolute;
    top: 4px;
    left: 6px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_71 {
    width: 238px;
    height: 52px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 138px;
    left: 61px;
    overflow: hidden;
  }
  
  .v1_72 {
    width: 182px;
    color: rgba(37, 37, 37, 1);
    position: absolute;
    top: 4px;
    left: 6px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_73 {
    width: 285px;
    height: 52px;
    background: rgba(250, 250, 250, 1);
    opacity: 1;
    position: absolute;
    top: 188px;
    left: 6px;
    overflow: hidden;
  }
  
  .v1_74 {
    width: 268px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 23px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_75 {
    width: 718px;
    height: 68px;
    background: rgba(241, 241, 241, 1);
    padding: 22px 8px;
    opacity: 1;
    position: absolute;
    top: 215px;
    left: 1px;
    overflow: hidden;
  }
  
  .v1_76 {
    width: 288px;
    color: rgba(22, 1, 106, 1);
    position: absolute;
    top: 22px;
    left: 8px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_77 {
    width: 240px;
    height: 68px;
    background: rgba(241, 241, 241, 1);
    padding: 28px 8px;
    opacity: 1;
    position: absolute;
    top: 215px;
    left: 61px;
    overflow: hidden;
  }
  
  .v1_78 {
    width: 53px;
    color: rgba(22, 1, 106, 1);
    position: absolute;
    top: 28px;
    left: 9px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_79 {
    width: 362px;
    height: 431px;
    background: url("../images/v1_79.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 62px;
    overflow: hidden;
  }
  
  .v1_80 {
    width: 361px;
    height: 62px;
    background: rgba(247, 247, 250, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 33px;
    border-top-right-radius: 244px;
    overflow: hidden;
  }
  
  .v1_81 {
    width: 361px;
    height: 62px;
    background: rgba(247, 247, 250, 1);
    opacity: 1;
    position: absolute;
    top: 369px;
    left: 1px;
    border-top-left-radius: 33px;
    border-top-right-radius: 244px;
    overflow: hidden;
  }
  
  .v1_82 {
    width: 286px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 9px;
    left: 41px;
    font-family: Fenix;
    font-weight: Regular;
    font-size: 44px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_83 {
    width: 298px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 636px;
    left: 333px;
    font-family: Fenix;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_84 {
    width: 958px;
    height: 287px;
    background: url("../images/v1_84.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 698px;
    left: 312px;
    overflow: hidden;
  }
  
  .v1_85 {
    width: 285px;
    height: 38px;
    background: rgba(241, 241, 241, 1);
    padding: 8px 8px;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 3px;
    overflow: hidden;
  }
  
  .v1_86 {
    width: 136px;
    color: rgba(22, 1, 106, 1);
    position: absolute;
    top: 8px;
    left: 9px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_87 {
    width: 190px;
    height: 38px;
    background: rgba(241, 241, 241, 1);
    padding: 8px 8px;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 289px;
    overflow: hidden;
  }
  
  .v1_88 {
    width: 101px;
    color: rgba(22, 1, 106, 1);
    position: absolute;
    top: 8px;
    left: 9px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_89 {
    width: 238px;
    height: 38px;
    background: rgba(241, 241, 241, 1);
    padding: 8px 8px;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 479px;
    overflow: hidden;
  }
  
  .v1_90 {
    width: 96px;
    color: rgba(22, 1, 106, 1);
    position: absolute;
    top: 8px;
    left: 8px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_91 {
    width: 238px;
    height: 38px;
    background: rgba(241, 241, 241, 1);
    padding: 8px 8px;
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 717px;
    overflow: hidden;
  }
  
  .v1_92 {
    width: 130px;
    color: rgba(22, 1, 106, 1);
    position: absolute;
    top: 8px;
    left: 8px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_93 {
    width: 954px;
    height: 177px;
    background: url("../images/v1_93.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 1px;
    overflow: hidden;
  }
  
  .v1_94 {
    width: 266px;
    height: 32px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 7px;
    overflow: hidden;
  }
  
  .v1_95 {
    width: 257px;
    height: 32px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 274px;
    overflow: hidden;
  }
  
  .v1_96 {
    width: 211px;
    height: 32px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 530px;
    overflow: hidden;
  }
  
  .v1_97 {
    width: 211px;
    height: 32px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 15px;
    left: 742px;
    overflow: hidden;
  }
  
  .v1_98 {
    width: 266px;
    height: 52px;
    background: rgba(250, 250, 250, 1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 7px;
    overflow: hidden;
  }
  
  .v1_99 {
    width: 172px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 9px;
    left: 6px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_100 {
    width: 257px;
    height: 52px;
    background: rgba(250, 250, 250, 1);
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 274px;
    overflow: hidden;
  }
  
  .v1_101 {
    width: 228px;
    color: rgba(37, 37, 37, 1);
    position: absolute;
    top: 9px;
    left: 6px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_102 {
    width: 62px;
    color: rgba(37, 37, 37, 1);
    position: absolute;
    top: 11px;
    left: 6px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_103 {
    width: 212px;
    height: 51px;
    background: rgba(250, 250, 250, 1);
    padding: 1px 5px;
    opacity: 1;
    position: absolute;
    top: 18px;
    left: 530px;
    overflow: hidden;
  }
  
  .v1_104 {
    width: 170px;
    color: rgba(37, 37, 37, 1);
    position: absolute;
    top: 1px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_105 {
    width: 212px;
    height: 51px;
    background: rgba(250, 250, 250, 1);
    padding: 1px 5px;
    opacity: 1;
    position: absolute;
    top: 18px;
    left: 742px;
    overflow: hidden;
  }
  
  .v1_106 {
    width: 170px;
    color: rgba(37, 37, 37, 1);
    position: absolute;
    top: 1px;
    left: 5px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_107 {
    width: 715px;
    height: 67px;
    background: rgba(241, 241, 241, 1);
    padding: 33px 8px;
    opacity: 1;
    position: absolute;
    top: 218px;
    left: 2px;
    overflow: hidden;
  }
  
  .v1_108 {
    width: 325px;
    color: rgba(22, 1, 106, 1);
    position: absolute;
    top: 33px;
    left: 9px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_109 {
    width: 238px;
    height: 67px;
    background: rgba(241, 241, 241, 1);
    padding: 28px 8px;
    opacity: 1;
    position: absolute;
    top: 219px;
    left: 717px;
    overflow: hidden;
  }
  
  .v1_110 {
    width: 52px;
    color: rgba(22, 1, 106, 1);
    position: absolute;
    top: 28px;
    left: 8px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_111 {
    width: 952px;
    height: 136px;
    background: url("../images/v1_111.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1019px;
    left: 318px;
    box-shadow: 0px 5.487031936645508px 5px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  
  .v1_112 {
    width: 948px;
    height: 38px;
    background: rgba(241, 241, 241, 1);
    padding: 8px 8px;
    opacity: 1;
    position: absolute;
    top: 1px;
    left: 2px;
    overflow: hidden;
  }
  
  .v1_113 {
    width: 136px;
    color: rgba(22, 1, 106, 1);
    position: absolute;
    top: 8px;
    left: 9px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_114 {
    width: 79px;
    height: 80px;
    background: url("../images/v1_114.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 48px;
    left: 436px;
    overflow: hidden;
  }
  
  .v1_115 {
    width: 294px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1265px;
    left: 521px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 8px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_116 {
    width: 199px;
    height: 40px;
    background: url("../images/v1_116.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 200px;
    left: 21px;
    box-shadow: 0px 4px 4px rgba(0.008201360702514648, 0.39858734607696533, 0.98416668176651, 0.5);
    overflow: hidden;
  }
  
  .v1_117 {
    width: 199px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(141, 139, 252, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 20px 50px rgba(0.29019609093666077, 0.6000000238418579, 0.8274509906768799, 0.20000000298023224);
    overflow: hidden;
  }
  
   .v1_118 { 
    width: 69px;
    height: 10px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 64px;
    border-radius: 50%;
   }
  
  .v1_119 {
    width: 199px;
    height: 40px;
    background: url("../images/v1_119.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 146px;
    left: 21px;
    box-shadow: 0px 4px 4px rgba(0.008201360702514648, 0.39858734607696533, 0.98416668176651, 0.5);
    overflow: hidden;
  }
  
  .v1_120 {
    width: 199px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(141, 139, 252, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 20px 50px rgba(0.29019609093666077, 0.6000000238418579, 0.8274509906768799, 0.20000000298023224);
    overflow: hidden;
  }
  
  .v1_121 {
    width: 69px;
    height: 10px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 64px;
    border-radius: 50%;
  }
  
  .v1_122 {
    width: 199px;
    height: 40px;
    background: url("../images/v1_122.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 148px;
    left: 1056px;
    box-shadow: 0px 4px 4px rgba(0.008201360702514648, 0.39858734607696533, 0.98416668176651, 0.5);
    overflow: hidden;
  }
  
  .v1_123 {
    width: 199px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(141, 139, 252, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 20px 50px rgba(0.29019609093666077, 0.6000000238418579, 0.8274509906768799, 0.20000000298023224);
    overflow: hidden;
  }
  
  .v1_124 {
    width: 69px;
    height: 10px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 64px;
    border-radius: 50%;
  }
  
  .v1_125 {
    width: 199px;
    height: 40px;
    background: url("../images/v1_125.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 149px;
    left: 438px;
    box-shadow: 0px 4px 4px rgba(0.008201360702514648, 0.39858734607696533, 0.98416668176651, 0.5);
    overflow: hidden;
  }
  
  .v1_126 {
    width: 199px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(141, 139, 252, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 20px 50px rgba(0.29019609093666077, 0.6000000238418579, 0.8274509906768799, 0.20000000298023224);
    overflow: hidden;
  }
  
  .v1_127 {
    width: 69px;
    height: 10px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 64px;
    border-radius: 50%;
  }
  
  .v1_128 {
    width: 199px;
    height: 40px;
    background: url("../images/v1_128.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 149px;
    left: 638px;
    box-shadow: 0px 4px 4px rgba(0.008201360702514648, 0.39858734607696533, 0.98416668176651, 0.5);
    overflow: hidden;
  }
  
  .v1_129 {
    width: 199px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(141, 139, 252, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 20px 50px rgba(0.29019609093666077, 0.6000000238418579, 0.8274509906768799, 0.20000000298023224);
    overflow: hidden;
  }
  
  .v1_130 {
    width: 69px;
    height: 10px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 65px;
    border-radius: 50%;
  }
  
  .v1_131 {
    width: 199px;
    height: 40px;
    background: url("../images/v1_131.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 149px;
    left: 850px;
    box-shadow: 0px 4px 4px rgba(0.008201360702514648, 0.39858734607696533, 0.98416668176651, 0.5);
    overflow: hidden;
  }
  
  .v1_132 {
    width: 199px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(141, 139, 252, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 20px 50px rgba(0.29019609093666077, 0.6000000238418579, 0.8274509906768799, 0.20000000298023224);
    overflow: hidden;
  }
  
  .v1_133 {
    width: 69px;
    height: 10px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 65px;
    border-radius: 50%;
  }
  
  .v1_134 {
    width: 199px;
    height: 40px;
    background: url("../images/v1_134.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 228px;
    box-shadow: 0px 4px 4px rgba(0.008201360702514648, 0.39858734607696533, 0.98416668176651, 0.5);
    overflow: hidden;
  }
  
  .v1_135 {
    width: 199px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(141, 139, 252, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 20px 50px rgba(0.29019609093666077, 0.6000000238418579, 0.8274509906768799, 0.20000000298023224);
    overflow: hidden;
  }
  
  .v1_136 {
    width: 69px;
    height: 10px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 65px;
    border-radius: 50%;
  }
  
  .v1_137 {
    width: 199px;
    height: 40px;
    background: url("../images/v1_137.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 202px;
    left: 849px;
    box-shadow: 0px 4px 4px rgba(0.008201360702514648, 0.39858734607696533, 0.98416668176651, 0.5);
    overflow: hidden;
  }
  
  .v1_138 {
    width: 199px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(141, 139, 252, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 20px 50px rgba(0.29019609093666077, 0.6000000238418579, 0.8274509906768799, 0.20000000298023224);
    overflow: hidden;
  }
  
  .v1_139 {
    width: 69px;
    height: 10px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 64px;
    border-radius: 50%;
  }
  
  .v1_140 {
    width: 199px;
    height: 40px;
    background: url("../images/v1_140.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 203px;
    left: 1056px;
    box-shadow: 0px 4px 4px rgba(0.008201360702514648, 0.39858734607696533, 0.98416668176651, 0.5);
    overflow: hidden;
  }
  
  .v1_141 {
    width: 199px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(141, 139, 252, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 20px 50px rgba(0.29019609093666077, 0.6000000238418579, 0.8274509906768799, 0.20000000298023224);
    overflow: hidden;
  }
  
  .v1_142 {
    width: 69px;
    height: 10px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 64px;
    border-radius: 50%;
  }
  
  .v1_143 {
    width: 199px;
    height: 40px;
    background: url("../images/v1_143.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 203px;
    left: 638px;
    box-shadow: 0px 4px 4px rgba(0.008201360702514648, 0.39858734607696533, 0.98416668176651, 0.5);
    overflow: hidden;
  }
  
  .v1_144 {
    width: 199px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(141, 139, 252, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 20px 50px rgba(0.29019609093666077, 0.6000000238418579, 0.8274509906768799, 0.20000000298023224);
    overflow: hidden;
  }
  
  .v1_145 {
    width: 69px;
    height: 10px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 65px;
    border-radius: 50%;
  }
  
  .v1_146 {
    width: 199px;
    height: 40px;
    background: url("../images/v1_146.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 203px;
    left: 435px;
    box-shadow: 0px 4px 4px rgba(0.008201360702514648, 0.39858734607696533, 0.98416668176651, 0.5);
    overflow: hidden;
  }
  
  .v1_147 {
    width: 199px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(141, 139, 252, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 20px 50px rgba(0.29019609093666077, 0.6000000238418579, 0.8274509906768799, 0.20000000298023224);
    overflow: hidden;
  }
  
  .v1_148 {
    width: 69px;
    height: 10px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 65px;
    border-radius: 50%;
  }
  
  .v1_149 {
    width: 199px;
    height: 40px;
    background: url("../images/v1_149.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 204px;
    left: 228px;
    box-shadow: 0px 4px 4px rgba(0.008201360702514648, 0.39858734607696533, 0.98416668176651, 0.5);
    overflow: hidden;
  }
  
  .v1_150 {
    width: 199px;
    height: 40px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(141, 139, 252, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 20px 50px rgba(0.29019609093666077, 0.6000000238418579, 0.8274509906768799, 0.20000000298023224);
    overflow: hidden;
  }
  
  .v1_151 {
    width: 69px;
    height: 10px;
    background: rgba(196, 196, 196, 1);
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 65px;
    border-radius: 50%;
  }
  
  .v1_152 {
    width: 149px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 152px;
    left: 65px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 19px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_153 {
    width: 160px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 159px;
    left: 234px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_154 {
    width: 174px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 159px;
    left: 661px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_155 {
    width: 177px;
    color: rgba(0, 16, 155, 1);
    position: absolute;
    top: 161px;
    left: 471px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_156 {
    width: 172px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 160px;
    left: 874px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_157 {
    width: 133px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 158px;
    left: 1079px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 17px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_158 {
    width: 119px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 211px;
    left: 1089px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 21px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_159 {
    width: 134px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 216px;
    left: 893px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_160 {
    width: 168px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 215px;
    left: 666px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 15px;
    opacity: 0.8999999761581421;
    text-align: left;
  }
  
  .v1_161 {
    width: 137px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 215px;
    left: 256px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_162 {
    width: 145px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 208px;
    left: 465px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_163 {
    width: 158px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 208px;
    left: 41px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_164 {
    width: 232px;
    height: 48px;
    background: linear-gradient(rgba(152, 199, 242, 1), rgba(126, 238, 245, 1));
    opacity: 1;
    position: absolute;
    top: 292px;
    left: 12px;
    border: 1px solid rgba(0, 0, 0, 1);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  
  .v1_165 {
    width: 234px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 300px;
    left: 26px;
    text-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-weight: Regular;
    font-size: 22px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_166 {
    width: 226px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 363px;
    left: 7px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_167 {
    width: 193px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 399px;
    left: 18px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 15px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_168 {
    width: 159px;
    color: rgba(13, 11, 148, 1);
    position: absolute;
    top: 431px;
    left: 21px;
    font-family: Inter;
    font-weight: Bold;
    font-size: 14px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_169 {
    width: 180px;
    height: 180px;
    background: url("../images/v1_169.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 771px;
    left: 45px;
    overflow: hidden;
  }
  
  .v1_170 {
    width: 100%;
    height: 136px;
    background: rgba(235, 231, 252, 1);
    opacity: 1;
    position: absolute;
    top: 1203px;
    left: 0px;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    overflow: hidden;
  }
  
  .v1_171 {
    width: 267px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1305px;
    left: 1054px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 13px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_172 {
    width: 207px;
    height: 56px;
    background: url("../images/v1_172.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 616px;
    left: 29px;
    overflow: hidden;
  }
  
  /*.v1_173 {
    width: 239px;
    height: 67px;
    background: rgba(163, 188, 248, 1);
    opacity: 1;
    position: absolute;
    top: 110px;
    left: 365px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    border-bottom-left-radius: 38px;
    border-bottom-right-radius: 38px;
    overflow: hidden;
  }*/
  
  .v1_174 {
    width: 207px;
    height: 59px;
    background: url("../images/v1_174.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 700px;
    left: 29px;
    overflow: hidden;
  }
  
  .v1_175 {
    width: 202px;
    height: 34px;
    background: url("../images/v1_175.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 545px;
    left: 34px;
    border: 3px solid rgba(255, 255, 255, 1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
  }
  
  .v1_176 {
    width: 225px;
    height: 63px;
    background: url("../images/v1_176.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 41px;
    left: 11px;
    overflow: hidden;
  }
  
  .v1_177 {
    width: 185px;
    height: 64px;
    background: url("../images/v1_177.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1228px;
    left: 1075px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  
  .v1_178 {
    width: 186px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1225px;
    left: 460px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  
  /*.v1_179 {
    width: 72px;
    height: 115px;
    background: url("../images/v1_179.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1218px;
    left: 64px;
    overflow: hidden;
  }*/
  
  .v1_180 {
    width: 111px;
    height: 123px;
    /*background: url("../images/v1_180.png");*/
    background: url("../images/v1_18.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1209px;
    left: 45px;
    overflow: hidden;
  }
  
  .v1_181 {
    width: 555px;
    height: 299px;
    background: url("../images/v1_181.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 1155px;
    left: -202px;
    overflow: hidden;
  }
  
  .v1_182 {
    width: 262px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1258px;
    left: 460px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }
  
  .v1_183 {
    width: 290px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 1289px;
    left: 460px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
  }